{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-1">TELEGRAM - MENU - BOT</h1>
    <br>
    <p class="lead">Create Telegram bot using Botfather and set BOT_API_KEY for BOT script</p>
    <hr class="my-4">
    <p>1. Start a new conversation with the BotFather.</p>
    <p>2. Send /newbot to create a new Telegram bot.</p>
    <p>3. When asked, enter a name for the bot.</p>
    <p>4. Give the Telegram bot a unique username. ...</p>
    <p>5. Copy and save the Telegram bot's access token for later steps.</p>
    <p>6. Open the 'bot_config.py' file and set the BOT_API_KEY as access token</p>
    <hr>
    <h3>Enjoy!</h3>
  </div>
{% endblock %}